:root {
    --clr-very-dark-grayish-blue: hsl(217, 19%, 35%);
    --clr-desaturated-dark-blue: hsl(214, 17%, 51%);
    --clr-grayish-blue: hsl(212, 23%, 69%);
    --clr-light-grayish-blue: hsl(210, 46%, 95%);
    
    --ff-body: "Manrope", sans-sarif;
    
    --fw-semibold: 500;
    --fw-bold: 700;
    
    --fs-400: 1rem;
    --fs-500: 1.5rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font: inherit;
}

img,
svg {
    display: block;
    max-width: 100%;
}

/* Typography */
body {
    background-color: var(--clr-light-grayish-blue);
    color: var(--clr-desaturated-dark-blue);
    font-family: var(--ff-body);
    font-weight: var(--fw-regular);
    line-height: 1.5;
}

h2 {
    color: var(--clr-very-dark-grayish-blue);
    font-size: var(--fs-500);
    font-weight: var(--fw-bold);
    line-height: 1.2;
}

h3 {
    font-weight: var(--fw-semibold);
}

/* Utility */
body {
    display: grid;
    place-items: center;
    height: 100vh;
}

/* Card */
.card {
    display: grid;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.card__description {
    padding: 1.5rem;
}

.card__description>*+* {
    margin-top: 1rem;
}

@media screen and (min-width: 50em) {
    .card {
        grid-template-columns: repeat(2, 1fr);
        overflow: visible;
        width: 850px;
    }
    
    .card>img {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .card__description {
        padding-top: 1rem;
        padding-inline: 1.5rem;
    }
    
    .card__description>*+* {
        margin-top: 2rem;
    }
}


.author--info {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
}

.author {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.author__name {
    color: var(--clr-very-dark-grayish-blue);
    font-weight: var(--fw-bold);
}

.avatar {
    width: 50px;
    border-radius: 50%;
}

.share-button {
    border: 0;
    border-radius: 50%;
    padding: 0.75rem;
    width: 2.5rem;
    height: 2.5rem;
    display: grid;
    place-items: center;
}

.share-button:hover {
    background-color: var(--clr-light-grayish-blue);
    color: #fff;
}

.share-icon {
    position: relative;
    z-index: 10;
}

.share-icon path {
    fill: #6E8098;
}

.social-links {
    position: absolute;
    right: 10px;
    left: 10px;
    bottom: 20px;
    background-color: var(--clr-very-dark-grayish-blue);
    display: none;
    gap: 2rem;
    align-items: center;
    padding: 1.2rem 2rem;
    border-radius: 0 0 10px 10px;
    width: 360px;
    
}

.social-links.active {
    display: flex;
}

.social-links p {
    font-size: 1.5rem;
}

@media screen and (min-width: 60em) {
    .social-links {
        border-radius: 10px;
        left: 705px;
        bottom: 140px;
        width: 200px;
        padding: 0.85rem 1.5rem;
        gap: 1rem;
        box-shadow: 0 5px 10px hsl(0, 0%,60%);
    }
    
    .social-links::before {
        content: '';
        position: absolute;
        border: .75em solid transparent;
        border-top-color: var(--clr-very-dark-grayish-blue);
        left: 90px;
        top: 47px;
    }
    
    .social-links p {
        color: var(--clr-light-grayish-blue);
        font-size: var(--fs-400);
        letter-spacing: .2em;
        text-transform: uppercase;
    }
}